@import url('https://fonts.googleapis.com/css2? family= Alkatra & family= Libre+Baskerville:ital@0;1 & family= Lora & family= Merriweather & family= Poppins:wght@ 500 & family= Roboto & family= Roboto+Slab:wght@400;500 & family= Rubik+Glitch & display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

:root{

    
    
    --textodecorado: 'Poppins', sans-serif;



}


html{
    font-size: 60%;
    
}

body{
   background-image: linear-gradient(
       to top,
       rgb(245, 239, 239),
        #D4ADFC, 
         #5C469C,
         #1D267D,
        #0C134F
   );
   

   
}
.header{
    background: rgb(243, 253, 250);
    top: 0;
    left: 0;
    position: fixed;
    line-height: 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    width: 100%;
    justify-content: space-around;
}
.header img{
    border-radius: 300px;
    width: 60px;
}
.logo{
    font-size: 2.8rem;
    color: brown;
    font-weight: 450px;
    cursor: default;

}
.confg a {
    font-weight: 400;
    color: black;
    margin-left: 2.8rem;
    font-size: 1.5rem;
    transition: 0.3s;
}
.confg :hover{
    color: var(--fundo);
}
.nav-btn {
    position: relative;
    display: inline;
    margin-left: 2.8rem;
    font-weight: 300;
    
}
/*.confg .btn-cadastro::before {
    content: " ";
    position: absolute;
    
    width: 100%;
    height: 3px;
    background: #fff;
    opacity: .86;
    margin-left: 10px;
 
 }*/

.btn-cadastro{
    width: 130px;
    height: 40px;
    font-size: 1.5rem;
    background: rgb(129, 56, 56) transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
    align-items: center;
   
}
.btn-login{
    width: 130px;
    height: 40px;
    font-size: 1.5rem;
    background: rgb(129, 56, 56) transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
    align-items: center;
   
}

#menu-icon {
    font-size: 5.8rem;
    color: black;
    cursor: pointer;
    display: none;
}



/** fim do cabeçalho**/

/**stylo da 1 seção**/

section{
    min-height: 100vh;
    padding: 10rem 7% 4rem;  
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    display: flex;
    gap: 125px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;

    
   

}
.home .btn-cadastro{
    align-items: center;
    font-size: 1.5rem;
    background: rgb(129, 56, 56) transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: .3s ease;
    
}
#btn-cadastro{
    width: 250px;
    height: 150px;
    left: 45px;
}
.home img{
    position: relative;
    display: fixed;
    width: 380px;
    height: 330px;
    margin-top: 100px;

    
}

.home-paragrafo{
    max-width: 50rem;
    position: relative;
    width: 500px;
    height: 280px;
    top: 25px;
    border-radius: 60px 60px 60px 0;
    /*background: rgba(196, 194, 194, 0.28);*/
    z-index: 99;
    margin-top: 6%;
}
.home-paragrafo h1{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.3;
    /*height: 130px;*/
    width: 100%;
    text-align: left;
    font-family: var(--textodecorado);
    color: white;
    margin-bottom: 6%;
    
 
}
.home-texto p{
    font-size: 1.5rem;
    align-items: center;
    text-align: left;
    padding-bottom: 10%;
    font-family: var(--textodecorado);
    color: white;
    
}
/*fim da 1 seção*/


/*incio da 2 secção*/


.serviço .serviço-conponente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    overflow-x: auto;
}
.serviço .serviço-inicio{
   font-size: 4rem;
   align-items: center;
   text-align-last: center;
   font-family: 'Times New Roman', Times, serif;

}


.serviço p{
    font-size: 1.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: var(--textodecorado);
    margin-top: 4%;
    position: relative;
    
    
}


#serviço{
    font-family: var(--textodecorado);
    background: rgb(245, 239, 239);

}
.serviço-conponente .serviço-box{
    flex: 1 1 30rem;
    background: rgb(206, 144, 144);
    padding: 3rem 3rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border-top: .6rem solid;
    width: 160px;
    height: 220px;
    font-size: 1.5rem;
    background-image: url('o-que-e-home-care-1.png');
    background-size: cover;
    margin-top: 8%;

}
#cuidado{
    background-image: url("sobre-o-servico-de-cuidador-de-idosos.jpg");
}


/**section 3**/

.sobre img{
    /*border-radius: 380px;*/
    clip-path: circle();
    width: 290px;
    align-items: center;
    justify-items: center;
    position: relative;
    left: 450px;
   margin-bottom: 4%;
    
}

.sobre{
    align-items: center;
    font-size: medium;
     
}
.sobre h1{
   text-align: center;
   padding-bottom: 4%;
}
.listado ul p{
    padding: 20px;
    font-size: medium;
}

/*rodapé*/

.footer{
    background: white;
}









/**configuração do butao**/
.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(256, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
 }
 
 .wrapper.active-popup {
    opacity: 2;
    pointer-events: auto;
 }
 
 .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
 }
 
 .icon-close i {
    font-size: 32px;
    color: #333;
 }
 
 .wrapper .logreg-box {
    width: 100%;
 }
  
 .wrapper .form-box.login {
    display: block;
 }
 
 .wrapper.active .form-box.login {
    display: none;
 }
 
 .wrapper .form-box.cadastro {
    display: none;
 }
 
 .wrapper.active .form-box.cadastro {
    display: block;
 }
 
 .logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
 }
 
 .logreg-title h2 {
    font-size: 32px;
 }
 
 .logreg-box p {
    font-size: 16px;
    font-weight: 600;
 }
 
 .logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
 }
 
 .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 25px;
 }
 
 .input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .6s;
 }
 
 .input-box input:focus~label,
 .input-box input:valid~label {
    top: -5px;
 }
 
 .input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
 }
 
 .logreg-box .lembrar-esquecer {
    font-size: 14.5px;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
 }
 
 .lembrar-esquecer label input {
    accent-color: #fff;
    margin-right: 3px;
 }
 
 .lembrar-esquecer a {
    color: #fff;
    text-decoration: none;
 }
 
 .lembrar-esquecer a:hover {
    text-decoration: underline;
 }
 
 .logreg-box .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 17px;
    color: #222;
    font-weight: 600px;
    font-family: 'Poppins', sans-serif;   
 
 }
 
 .logreg-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 26px 0 15px;
 }
 
 .logreg-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
 }
 
 .logreg-link p a:houver {
    text-decoration: underline;
 }
 
 .media-options {
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 
 .media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: aliceblue;
    text-decoration: none;
    transition: .6s;
 }
 
 .media-options a:hover {
    background: rgba(256, 255, 255, .1);
 }
 
 .media-options a i {
    font-size: 23px;
 }
 
 .media-options a span {
    font-size: 16px;
    font-weight: 600;
 }
